<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>{{ title }}</title>
  {# Bootstrap #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous">
  {# Custom css #}
  <link type="text/css" rel="stylesheet" href="{{ asset('css/custom.min.css') }}">
  {% block additionnal_stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
          integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
          crossorigin="anonymous"></script>
</head>
<body>
{% import 'macros/alertes.html.twig' as utils %}
<header>
  {% include 'menu/main_nav.html.twig' %}

  <div class="to-tricks">
    <a href="#tricks_list">
      <i class="bi bi-arrow-down-circle-fill"></i>
    </a>
  </div>
</header>
{{ utils.alert('Ceci est un message d\'alerte !', 'danger') }}
{% block body %}{% endblock %}
<script type="application/javascript" src="{{ asset('js/main.js') }}"></script>
{% block additionnal_javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}
<footer>
  <p>© Copyright SnowTricks 2022</p>
</footer>
</body>
</html>
