{% extends 'base.html.twig' %}
{% import 'macros/alertes.html.twig' as utils %}

{% block body %}
  <header xmlns="http://www.w3.org/1999/html">
    {% include 'menu/main_nav.html.twig' with {'position': 'static'} %}
  </header>
  <div class="container mainContent trickDetail my-3">
    {% for message in app.flashes('newSuccess') %}
      <div class="alert alert-success">
        {{ message }}
      </div>
    {% endfor %}
    <div class="trickDetail_image_container">
      {% if trick.mainPicture is null %}
        {% set src = "https://via.placeholder.com/1100x550" %}
      {% else %}
        {% set src =  asset('upload/') ~ trick.mainPicture %}
      {% endif %}
      <img class="trickDetail_image w-100" src="{{ src }}" alt="{{ trick.name }}">
      <div class="trickDetail_title_container">
        <span>{{ trick.name }}</span>
      </div>
      {% if app.user %}
        <div class="trickDetail_action">
          <a href="{{ path('trick_update', {'slug': trick.slug }) }}"
             class="text-reset text-decoration-none">
            <i class="bi bi-pen-fill"></i>
          </a>
          <a href="{{ path('trick_delete', {'id': trick.id }) }}"
             class="text-reset text-decoration-none">
            <i class="bi bi-trash3-fill"></i>
          </a>
        </div>
      {% endif %}
    </div>

    {# Media Carroussel #}
    {% if trick.tricksImages|length + trick.video is not null == 0 %}
      {{ utils.alertNoDismiss('Pas d\'autres médias', 'secondary') }}
    {% else %}
      <div class="lightbox my-3">
        <div class="multi-carousel">
          <div class="multi-carousel-inner text-center">
            {% if trick.tricksImages|length %}
              ok
              {% for image in trick.tricksImages %}
                <div class="multi-carousel-item">
                  <img src="{{ asset('upload/') }}{{ image.src }}" alt="" class="w-100"/>
                </div>
              {% endfor %}
            {% endif %}
            {% if trick.video %}
              <div class="multi-carousel-item">
                <video class="w-100" autoplay="autoplay" controls>
                  <source src="{{ asset('upload/') }}{{ trick.video }}" type="video/mp4"/>
                </video>
              </div>
            {% endif %}
          </div>
          {% if trick.tricksImages|length + trick.video is not null > 3 %}
            <button class="carousel-control-prev" type="button" tabindex="0" data-mdb-slide="prev">
              <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" tabindex="0" data-mdb-slide="next">
              <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
            </button>
          {% endif %}
        </div>
      </div>
    {% endif %}

    <div class="content my-3">
      <p>{{ trick.content | striptags('<p>') | raw }}</p>
    </div>

    <ul class="list-group list-group-horizontal justify-content-evenly">
      <li class="list-group-item">Catégorie : {{ trick.category.name }}</li>
      <li class="list-group-item">Crée le : {{ trick.createdAt | date('d/m/Y') }}</li>
      {# If it was updated, display : #}
      <li class="list-group-item">Modifié le : {{ trick.updatedAt is null ? 'Jamais' : trick.updatedAt|date
          ('d/m/Y') }}</li>
      {# endif #}
    </ul>

    <hr>
    {# If user is connected #}
    {% if app.user %}
      {{ form_start(formComment, {'attr': {'class': 'row g-3 justify-content-center'}}) }}
      <div class="col-8">
        <label for="comment" class="visually-hidden">Commentaire :</label>
        {{ form_row(formComment.content, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary mb-3">Soumettre le commentaire</button>
      </div>
      {{ form_end(formComment) }}
    {% else %}
      <div class="row g-3 justify-content-center">
        <div class="col-8">
          <label for="comment" class="visually-hidden">Commentaire :</label>
          <input type="text" class="form-control" id="comment" disabled
                 placeholder="Vous devez être connecté pour pouvoir mettre un commentaire">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-outline-secondary mb-3 disabled">Soumettre le commentaire
          </button>
        </div>
      </div>
    {% endif %}
    <hr>

    {% if trick.trickComments|length > 0 %}
      <div class="container">
        <div class="d-flex justify-content-center row">
          {% for commentary in trick.trickComments %}

            <div class="commentary col-md-8 mb-3 position-relative">
              <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info">
                    <i class="rounded-circle bi bi-person-circle"></i>
                    <div class="d-flex flex-column justify-content-start ml-2">
                      <span class="d-block font-weight-bold name">{{ commentary.user.username }}</span>
                      <span
                          class="date text-black-50">Publié le - {{ commentary.createdAt | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }}</span>
                    </div>
                  </div>
                  <div class="mt-2">
                    <p class="comment-text">{{ commentary.content }}</p>
                  </div>
                </div>
              </div>
              {% if app.user == commentary.user %}
                <a href="{{ path('comment_delete', {'id': commentary.id }) }}"
                   class="text-reset text-decoration-none position-absolute top-0" style="right: 0">
                  <i class="bi bi-trash3-fill" style="font-size: 25px"></i>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      {{ utils.alertNoDismiss('Pas de commentaire', 'secondary') }}
    {% endif %}

  </div>
{% endblock %}

{% block additionnal_javascripts %}
  <script src="{{ asset('js/multi-carrousel.js') }}" type="text/javascript"></script>
{% endblock %}