{% extends 'base.html.twig' %}

{% block body %}
  <header xmlns="http://www.w3.org/1999/html">
    {% include 'menu/main_nav.html.twig' with {'position': 'static'} %}
  </header>
  <div class="container trickDetail my-5">
    <div class="trickDetail_image_container">
      <img class="trickDetail_image" src="https://dummyimage.com/900x600" alt="Snow" style="width:100%;">
      <div class="trickDetail_title_container">
        <span>{{ trick.name }}</span>
      </div>
    </div>

    {# MEdia #}
    <div class="lightbox my-3">
      <div class="multi-carousel">
        <div class="multi-carousel-inner">
          <div class="multi-carousel-item">
            <img src="https://dummyimage.com/365x160" class="w-100"/>
          </div>
          <div class="multi-carousel-item">
            <img src="https://dummyimage.com/365x160" class="w-100"/>
          </div>
          <div class="multi-carousel-item">
            <img src="https://dummyimage.com/365x160" class="w-100"/>
          </div>
          <div class="multi-carousel-item">
            <video class="w-100" autoplay="autoplay" controls>
              <source src="{{ asset('img/snowTrick.mp4') }}" type="video/mp4"/>
            </video>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" tabindex="0" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" tabindex="0" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="content my-3">
      <p>{{ trick.content }}</p>
    </div>

    <ul class="list-group list-group-horizontal justify-content-evenly">
      <li class="list-group-item">Catégorie :</li>
      <li class="list-group-item">Crée le : {{ trick.createdAt | date('d/m/Y') }}</li>
      {# If it was updated, display : #}
      <li class="list-group-item">Modifié le : {{ trick.updatedAt | date('d/m/Y') }}</li>
      {# endif #}
    </ul>

    <hr>
    {# If user is connected #}
    <form class="row g-3 justify-content-center">
      <div class="col-8">
        <label for="comment" class="visually-hidden">Password</label>
        <input type="text" class="form-control" id="comment">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-outline-secondary mb-3">Soumettre le commentaire</button>
      </div>
    </form>

    <hr>
    {# endif #}

    <span>Commentaires : </span><br/>
    {% if tricks|length > 0 %}
      {% for commentary in commentaries %}
        <p>{{ commentary.content }}</p>
      {% endfor %}
    {% else %}
      {{ utils.alert('Pas de commentaire', 'info') }}
    {% endif %}

  </div>
{% endblock %}

{% block additionnal_javascripts %}
  <script src="{{ asset('js/multi-carrousel.js') }}" type="text/javascript"></script>
{% endblock %}